<h1>게시글 작성 해주세요</h1>

<form action="/questions/create" method="post" >
    글 제목
    <input type="text" name="writer"/>    
    글 내용
    <input type="text" name="question"/>

    <input type="submit" value="글쓰기"/>
    <br/>
</form>
<a href='index'>글 목록</a>